body {
    margin: 0;
}

.btn {
    position: relative;
    bottom: 2em;
    right:2em;
    border-radius: 12px;
}

.card {
    height: 6em;
    margin: 1em auto 1em auto;
    border-radius: 10px;

}

.card-text {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.nav-title {
    font-size: 2.5rem;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
}

.nav-icon {
    margin-right: 1em;
    margin-left: 2.5em;
}